[submodule "test/samples/samples"]
	path = test/samples/samples
	url = https://code.videolan.org/videolan/medialibrary-test-samples.git
[submodule "libvlcpp"]
	path = libvlcpp
	url = https://code.videolan.org/videolan/libvlcpp.git
