*~
*.user
#*#
.*.swp

compile
config.status
config.h*
config.log
configure
Makefile
Makefile.in
aclocal.m4
*.cache
*.lo
.dirstamp
config.guess
config.sub
libtool
ltmain.sh
missing
install-sh
depcomp
stamp-h1
.deps

build*

