[submodule "test/samples/samples"]
	path = test/samples/samples
	url = git@code.videolan.org:videolan/medialibrary-test-samples.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
